* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
}

html{
  scrollbar-width: none;
}

.navbar{
  z-index: 1000;
}

/* home page */
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  flex-direction: column;
  height: 90vh;
}

.login{
  min-height: 90vh;
}

.home a{
  text-decoration: none;
  color: white;
}

.movie-row::-webkit-scrollbar{
  display: none;
}

.movie-row{
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

.img-fluid{
  height: 175px;
  width: 300px;
}

.img-fluid:hover{
  transform: scale(1.04);
}

.text-white{
  margin: 5px 0;
}

.signup{
  text-decoration: none;
}

.text{
  text-align: center;
  padding: 10px 0;
}

.profile i {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}


.notifications {
  padding: 50px 60px;
}

.notifications h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.notification-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.notification-item {
  display: flex;
  align-items: center;
  background: #1f1f1f;
  border-radius: 10px;
}

.notification-item:hover {
  background: #2b2b2b;
}

.notification-item img {
  width: 170px;
  height: 150px;
  padding: 10px;
  border-radius: 15px;
}

.notification-item .info {
  padding: 15px 20px;
}

.notification-item .info h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #fff;
}

.notification-item .info p {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 6px;
}

.notification-item .info span {
  font-size: 0.8rem;
  color: #999;
}

/* responsive */
@media (max-width: 768px){
  .home{
    height: 85vh;
  }
  .img-fluid{
    width: 280px;
    height: 160px;
  }
}

@media (max-width: 480px){
  .home{
    text-align: center;
    height: 80vh;
  }
  .img-fluid{
    width: 250px;
    height: 150px;
  }
}