* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
}

html{
  scrollbar-width: none;
}

.navbar{
  z-index: 1000;
}

/* home page */
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1.8;
  flex-direction: column;
}

.home input{
  padding: 12px 20px;
  margin: 15px 0;
  outline: none;
  width: 300px;
  border: none;
}

.cta{
  padding: 12px 20px;
  background-color: red;
  border: none;
  margin: 0 -5px;
}

.cta a{
  text-decoration: none;
  color: white;
}

.netflix-footer {
  background-color: #000;
  color: white;
  padding: 50px 10%;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-top {
  font-size: 15px;
  margin-bottom: 25px;
}

.footer-top a {
  color: white;
  text-decoration: none;
}

.footer-top a:hover {
  text-decoration: underline;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  margin-bottom: 25px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  line-height: 2;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.language-select {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 20px;
  border-radius: 2px;
  width: fit-content;
}

.footer-country {
  font-size: 14px;
  color: white;
}

.movie-row::-webkit-scrollbar{
  display: none;
}

.movie-row{
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

.img-fluid {
  height: 175px;
  width: 300px;
}

.text-white{
  margin: 5px 0;
}

.text{
  text-align: center;
  padding: 10px 0;
}

.profile i {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

.notifications {
  padding: 50px 60px;
}

.notifications h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.notification-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.notification-item {
  display: flex;
  align-items: center;
  background: #1f1f1f;
  border-radius: 10px;
}

.notification-item:hover {
  background: #2b2b2b;
}

.notification-item img {
  width: 170px;
  height: 150px;
  padding: 10px;
  border-radius: 15px;
}

.notification-item .info {
  padding: 15px 20px;
}

.notification-item .info h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #fff;
}

.notification-item .info p {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 6px;
}

.notification-item .info span {
  font-size: 0.8rem;
  color: #999;
}

/*responsive design*/
/* small devices */
@media (max-width: 360px){
    .footer-links {
    grid-template-columns: repeat(2, 1fr);
    }
    .netflix-footer {
    padding: 40px 5%;
    }
    .img-fluid{
      height: 100px;
    }
}

/* medium devices*/
@media (max-width: 480px){
    .nav-link{
      display: none;
    }
    .btn{
      margin: 0 10px;
      font-size: 12px;
    }
    .footer-links {
      grid-template-columns: repeat(2, 1fr);
    }
    .netflix-footer {
      padding: 40px 5%;
    }
} 

/* Tablets, Laptops*/
@media (max-width: 768px){
    .nav-link{
        display: none;
    }
    .footer-links {
    grid-template-columns: repeat(2, 1fr);
    }
    .netflix-footer {
    padding: 40px 5%;
    }
}

/*Ultra Wide Monitors*/
@media (min-width: 1500px){
    .nav-link{
      display: block;
    }
    .footer-links {
    grid-template-columns: repeat(2, 1fr);
    }
    .netflix-footer {
    padding: 40px 5%;
    }
}
