* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 30px;
  background-color: #111;
  width: 100%;
  position: fixed;     
  top: 0;
  left: 0;
  right: 0;
}

.navbar h1 {
  margin-right: auto;
}



.nav-link a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-link a:hover {
  color: red;
  text-decoration: underline;
}

.btn, .btn-1 {
  border: none;
  padding: 8px;
  border-radius: 5px;
  background-color: red;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 20px;
}

.btn a, .btn-1 a, .btn-2 a {
  color: white;
  text-decoration: none;
}

.btn:hover, .btn-1:hover, .btn-2:hover {
  background-color: #b30000;
}

.side-nav {
  position: absolute;
  top: 80px;
  left: 0;
  width: 220px;
  height: 90%;
  background-color: black;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 100;
}

.side-nav a {
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  background-color: red;
}

.nav-links, .btn-1{
    margin-bottom: 20px;
}

.nav-item {
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.nav-item:hover + .side-nav,
.side-nav:hover {
  transform: translateX(0);
}
/* home page */
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  line-height: 1.8;
  flex-direction: column;
}

.home input{
  padding: 10px 20px;
  margin: 15px 0;
  outline: none;
  width: 300px;
}

.cta{
  padding: 12px 20px;
  background-color: red;
  border: none;
  margin: 0 -5px;
}

.cta a{
  text-decoration: none;
  color: white;
}

.netflix-footer {
  background-color: #000;
  color: white;
  padding: 50px 10%;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-top {
  font-size: 15px;
  margin-bottom: 25px;
}

.footer-top a {
  color: white;
  text-decoration: none;
}

.footer-top a:hover {
  text-decoration: underline;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  margin-bottom: 25px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  line-height: 2;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.language-select {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 20px;
  border-radius: 2px;
  width: fit-content;
}

.footer-country {
  font-size: 14px;
  color: white;
}

/* movies section */
.movie{
  padding: 20px 80px;
  text-align: center;
  margin: 100px 0 0;
}

.title{
  margin: 10px;
  padding: 10px;
  display: flex;
}

.movie-container{
  display: flex;
  gap: 10px;
}

.movie-content{
  cursor: pointer;
  padding: 0 20px;
}

.text{
  text-align: center;
  padding: 10px 0;
}

.movie-content img{
  width: 300px;
  height: 225px;
  border-radius: 10px;
}

.movie-content img:hover{
  transform: scale(1.1);
}

.profile i {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

.notifications {
  padding: 50px 60px;
}

.notifications h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.notification-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.notification-item {
  display: flex;
  align-items: center;
  background: #1f1f1f;
  border-radius: 10px;
}

.notification-item:hover {
  background: #2b2b2b;
}

.notification-item img {
  width: 180px;
  height: 150px;
  padding: 10px;
  border-radius: 15px;
}

.notification-item .info {
  padding: 15px 20px;
}

.notification-item .info h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #fff;
}

.notification-item .info p {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 6px;
}

.notification-item .info span {
  font-size: 0.8rem;
  color: #999;
}

/*responsive design*/
/* small devices */
@media (max-width: 360px){
    .nav-link{
        display: none;
    }
    .navbar{
        display: block;
    }
    .btn{
        margin: 0 10px;
        font-size: 12px;
    }
    .footer-links {
    grid-template-columns: repeat(2, 1fr);
    }
    .netflix-footer {
    padding: 40px 5%;
    }
}

/* medium devices*/
@media (max-width: 480px){
    .nav-link{
        display: none;
    }
    .btn{
        margin: 0 10px;
        font-size: 12px;
    }
    .footer-links {
    grid-template-columns: repeat(2, 1fr);
    }
    .netflix-footer {
    padding: 40px 5%;
    }
} 

/* Tablets, Laptops*/
@media (max-width: 768px){
    .nav-link{
        display: none;
    }
    .footer-links {
    grid-template-columns: repeat(2, 1fr);
    }
    .netflix-footer {
    padding: 40px 5%;
    }
}

/*Ultra Wide Monitors*/
@media (min-width: 1500px){
    .nav-link{
      display: block;
    }
    .footer-links {
    grid-template-columns: repeat(2, 1fr);
    }
    .netflix-footer {
    padding: 40px 5%;
    }
}
